- Objects are the core things that Python programs manipulate.

- Objects have a type that defines the kinds of things
programs can do to them

- objects are
  - scalar (cannot be subdivided)
  - non-scalar (have internal structure that can be accessed)

Scalar Objects:

- int – represent integers, ex. 5
- float – represent real numbers, ex. 3.27
- bool – represent Boolean values True and False
- NoneType – special and has one value, None

use type() to see the type of an object

In [1]:
type(3)

int

In [2]:
type(3.5)

float

In [3]:
type("Hello")

str

TYPE CONVERSIONS (CAST)
- can convert object of one type to another

In [4]:
int('123')

123

In [5]:
float(3)

3.0

In [6]:
str(3)

'3'

- to show output from code to a user, use print
command

5

6

Operators on ints and floats

- i+j -> the sum
- i-j -> the difference
- i*j -> the product
- i/j -> division
- i//j -> floor division
- i%j -> the remainder when i is divided by j
- i**j -> i to the power of j

In [7]:
3/5

0.6

In [8]:
3/2

1.5

In [9]:
3//2

1

- parentheses used to tell Python to do these
operations first
- operator precedence without parentheses
  - \**
  - \*
  - /
  - \+ and – executed left to right, as appear in expression

In [4]:
2 + 5

7

BINDING VARIABLES AND VALUES

A variable can have a short name (like x and y) or a more descriptive name (age, carname, total_volume). Rules for Python variables:
- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)

In [ ]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [ ]:
2myvar = "John"
my-var = "John"
my var = "John"

name of veriables should relevant

In [ ]:
pi = 3.14159
radius = 2.2
area = pi*(radius**2)

In [ ]:
a = 3.14159
b = 2.2
c = a*(b**2)

Variable names with more than one word can be difficult to read.

There are several techniques you can use to make them more readable:

Camel Case

Each word, except the first, starts with a capital letter:

In [ ]:
programminLanguage = 'Python'

Pascal Case

Each word starts with a capital letter:

In [ ]:
ProgramminLanguage = 'Python'

Snake Case

Each word is separated by an underscore character:

In [ ]:
programmin_language = 'Python'

Python allows you to assign values to multiple variables in one line:

In [ ]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

In [10]:
# variable swaping 

x, y = 2, 3
x, y = y, x
print('x =', x)
print('y =', y)

x = 3
y = 2

And you can assign the same value to multiple variables in one line:

In [11]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange