Agenda for Today(19-Jan-2023):

- string object type
- branching and conditionals
- indentation
- iteration and loops
- string manipulation

input gives you a string so must cast if working
with numbers

In [2]:
x = input("Please enter any thing?")

Please enter any thing?Asad

In [6]:
flie_path = f'c:/user/{x}.txt'
print(flie_path)

c:/user/Asad.txt

In [7]:
type(flie_path)

str

COMPARISON OPERATORS

- i and j are variable names
- comparisons below evaluate to a Boolean 

- i > j
- i >= j
- i < j
- i <= j
- i == j 
- i != j

In [20]:
age = 18
allowed_age = 18

print(age >= allowed_age)
print('A' > 'b')
# print(1 <> 2)

True
False

LOGIC OPERATORS

- a and b are variable names (with Boolean values)

  - not a -> True if a is False
False if a is True
  - a and b -> True if both are True
  - a or b -> True if either or both are True

In [21]:
(3 > 5) and (7 < 5)

False

In [22]:
# true       false
(3 < 5) and (7 < 5)

False

In [24]:
(3 < 5) or (7 < 5)

True

In [25]:
# or returns first truthy value then return last falsy vlaue

3 or 5

3

In [30]:
None or 9 or ''

9

In [31]:
6 and 7 and 9

9

In [33]:
6 and 0 and ''

0

Control Flow - Branching

- A test, i.e., an expression that evaluates to either True or False
- A block of code that is executed if the test evaluates to True
- An optional block of code that is executed if the test evaluates to
False

In [35]:
if True :
    pass
else:
    pass

In [49]:
a = 2
b = 330

print("A") if a < b else print("B")

A

In [37]:
if True:
    pass
elif True:
    pass
else:
    pass

In [40]:
%run test.py

ride cycle

In [43]:
%ls

 Volume in drive C has no label.
 Volume Serial Number is 2E8D-EAF7

 Directory of C:\Users\Asad\Desktop\pythonOnline

19-Jan-23  08:52 PM    <DIR>          .
19-Jan-23  08:52 PM    <DIR>          ..
19-Jan-23  08:15 PM    <DIR>          .ipynb_checkpoints
19-Jan-23  08:52 PM                39 hellopy.py
19-Jan-23  08:09 PM            10,116 session1.ipynb
19-Jan-23  08:13 PM             6,299 session2.ipynb
19-Jan-23  08:51 PM             8,331 session3.ipynb
19-Jan-23  08:51 PM                96 test.py
               5 File(s)         24,881 bytes
               3 Dir(s)  223,196,364,800 bytes free

In [ ]:
a = 2
b = 330

print("A") if a > b else print("B")

indentation matters in python

while loop

for loop

In [51]:
while (condition):
    pass

In [3]:
n =0 
 
while n < 7:
    print(n, sep=',')
    n +=1

0
1
2
3
4
5
6

In [2]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [4]:
for i in range(2,7):
    print(i)

2
3
4
5
6

In [30]:
n =0 
 
while n < 7:
    print(n, end= ' ')
    n +=1

0 1 2 3 4 5 6

In [26]:
for i in range(7):
    print(i)

0
1
2
3
4
5
6

In [28]:
for taqi in range(4,17,4):
    print(taqi)
    # i=1 -> 1 +2

4
8
12
16

In [25]:
for i in range(9,0):
    print(i)

In [18]:
for num in range(15):
    
    if num == 13:
        break
    
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12

In [21]:
4 / 2

2.0

In [24]:
4%3 == 0

False

In [29]:
range(8, 2)

range(8, 2)

In [3]:
for x in range(8,2,-1):
    print(x, end=" ")

8 7 6 5 4 3

break statments

In [1]:
n = 6

n *=2 # n = n * 2

print(n)

12

- think of as a sequence of case sensitive characters
- can compare strings with ==, >, < etc.
- len() is a function used to retrieve the length of the
string in the parentheses

square brackets used to perform indexing into a string
to get the value at a certain index/position

- can slice strings using [start:stop:step]
- if give two numbers, [start:stop], step=1 by default
- you can also omit numbers and leave just colons

strings are “immutable” – cannot be modified